<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUser​Notifications​Usage​Description</key>
	<string>it is neccesary for the app</string>
	<key>NSHealthShareUsageDescription</key>
	<string>MuscleCheck reads your workouts to automatically track your training</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>MuscleCheck can save your training sessions to the Health app</string>
</dict>
</plist>
